<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni kitab</title>
</head>
<body>
    <h1>Yeni kitab</h1>
    <form th:action="@{/books/new-book-process}"  method="POST"  th:object	="${book}">
      <label for="book-name">Ad:</label>
      <input id="book-name"  type="text"  th:field="*{name}" />
      
      <label for="book-price">Qiymət:</label>
      <input id="book-price"  type="number"  th:field="*{price}" />
      
      <label for="book-author">Müəllif:</label>
      <input id="book-author"  type="text"  th:field="*{author}" />
      
      <label for="book-page-count">Səhifə sayı:</label>
      <input id="book-page-count"  type="number"  th:field="*{pageCount}" />
      
      <label for="book-description">Təsvir:</label>
      <textarea id="book-description"  th:field="*{description}" ></textarea>
      <input type="submit"  value="Qeydiyyat" />
    </form>
</body>
</html>